.btn {
    @apply inline-flex duration-300 ease-in-out will-change-auto items-center justify-center px-4 rounded-lg h-12;
}

.btn-primary {
    @apply bg-primary text-gray-900 lg:hover:text-white ;
    .icon-btn {
        @apply duration-100;
    }
    &:hover {
        .icon-btn {
            @apply lg:-rotate-45;
        }
    }
}

.btn-calendar {
    @apply text-gray-900 bg-brand-200 lg:hover:bg-primary-600 lg:hover:text-white duration-300 ease-in-out h-8 md:h-12;
}

.btn.is-icon {
    @apply md:text-[1rem] text-[0.875rem] leading-[150%];
}

.btn.secondary {
    @apply text-gray-700 bg-white hover:bg-yellow-500  tracking-[0.15px] h-8 md:h-12;

    // SIZE
    @apply text-[1rem] md:text-[1.125rem] leading-[150%];
}

.btn.tertiary {
    @apply text-gray-600 bg-white md:hover:bg-primary-600 border border-gray-300  md:hover:text-white md:hover:border-primary-600 tracking-[0.2px] h-8 md:h-9;
}

.btn.label {
    @apply text-gray-600 bg-white hover:bg-white  border border-gray-300 hover:border-primary-500 md:hover:text-green-400 tracking-[0.2px] h-6 md:h-10;

    // SIZE
    @apply md:text-[1rem] text-[0.875rem] leading-[150%];

    &.active {
        @apply text-green-400 border-primary-500;
    }
}

.btn.disable {
    // TODO: Update #E2E8F0 vs #94A3B8
    @apply bg-gray-200 text-gray-400 pointer-events-none;
}

.btn-slide {
    @apply md:flex hidden absolute top-1/2 -translate-y-1/2 z-20 w-[40px] h-[40px] bg-white items-center justify-center shadow-sm rounded-full opacity-70 hover:opacity-100 duration-150;

    &.btn-prev {
        @apply left-0  md:-translate-x-1/3 xl:-translate-x-1/2;
    }

    &.btn-next {
        @apply right-0  md:translate-x-1/3 xl:translate-x-1/2;
    }

    &.btn-prev.sub-banner {
        @apply left-0 md:-translate-x-1/3;
    }
    &.btn-next.sub-banner {
        @apply right-0 md:translate-x-1/3;
    }

    @media screen and (min-width: 1440px) {
        &.btn-prev {
            @apply -left-5 -translate-x-full;
        }

        &.btn-next {
            @apply -right-5 translate-x-full;
        }
    }
}
