body,
.body-text {
    @apply md:text-[1rem] text-[0.875rem] leading-[150%] tracking-[0.3px];
}

.display-1,
.display-2,
.display-3,
.headline-1,
.headline-2,
.headline-3,
.label-1,
.label-2,
.label-3 {
    @apply font-display;
}

.title-1,
.title-2,
.title-3,
.title-4,
.button-1,
.button-2,
.body-1,
.body-2,
.body-3 {
    @apply font-sans;
}

.display-1 {
    @apply text-[40px] font-bold leading-[48px] tracking-[-2%];
}
.display-2 {
    @apply text-[32px] font-bold leading-[38px] tracking-[-2%];
}
.display-3 {
    @apply text-[28px] font-bold leading-[33px] tracking-[-2%];
}

.headline-1 {
    @apply text-[24px] font-bold leading-[30px];
}
.headline-2 {
    @apply text-[22px] font-bold leading-[26px];
}
.headline-3 {
    @apply text-[20px] font-bold leading-[24px];
}

.title-1 {
    @apply text-[18px] font-semibold leading-[26px];
}
.title-2 {
    @apply text-[16px] font-semibold leading-[24px];
}
.title-3 {
    @apply text-[14px] font-semibold leading-[19px];
}
.title-4 {
    @apply text-[14px] font-semibold leading-[19px];
}
.button-1 {
    @apply text-[16px] font-bold leading-[19px];
}
.button-2 {
    @apply text-[16px] leading-[18px];
}
.body-1 {
    @apply text-[16px] leading-[20px];
}
.body-2 {
    @apply text-[14px] leading-[18px];
}
.body-3 {
    @apply text-[10px] leading-[14px];
}
.label-1 {
    @apply text-[22px] font-medium leading-[19.6px];
}
.label-2 {
    @apply text-[12px] font-medium leading-[12px];
}
.label-3 {
    @apply text-[10px] font-medium leading-[14px];
}

@screen md {
    .display-1 {
        @apply text-[3.5rem] font-semibold leading-[72px] tracking-[-2%];
    }
    .display-2 {
        @apply text-[40px] font-semibold leading-[57px] tracking-[-2%];
    }
    .display-3 {
        @apply text-[36px] font-semibold leading-[57px] tracking-[-2%];
    }

    .headline-1 {
        @apply text-[32px] font-semibold leading-[38px];
    }
    .headline-2 {
        @apply text-[28px] font-semibold leading-[34px];
    }
    .headline-3 {
        @apply text-[24px] font-semibold leading-[30px];
    }

    .title-1 {
        @apply text-[20px] font-semibold leading-[31px];
    }
    .title-2 {
        @apply text-[18px] font-semibold leading-[26px];
    }
    .title-3 {
        @apply text-[16px] font-semibold leading-[24px];
    }
    .title-4 {
        @apply text-[14px] font-semibold leading-[19px];
    }
    .button-1 {
        @apply text-[16px] font-semibold leading-[24px];
    }
    .button-2 {
        @apply text-[14px] font-semibold leading-[19px];
    }
    .body-1 {
        @apply text-[1rem] leading-[24px];
    }
    .body-2 {
        @apply text-[14px] leading-[19px];
    }
    .body-3 {
        @apply text-[12px] leading-[18px];
    }
    .label-1 {
        @apply text-[1rem] font-medium leading-[19.6px];
    }
    .label-2 {
        @apply text-[14px] font-medium leading-[19.6px];
    }
    .label-3 {
        @apply text-[12px] font-medium leading-[19.6px];
    }
}

@screen xl {
    .display-1 {
        @apply text-[3.75rem] font-semibold leading-[72px] tracking-[-2%];
    }
    .display-2 {
        @apply text-[48px] font-semibold leading-[57px] tracking-[-2%];
    }
    .display-3 {
        @apply text-[36px] font-semibold leading-[57px] tracking-[-2%];
    }

    .headline-1 {
        @apply text-[32px] font-semibold leading-[38px];
    }
    .headline-2 {
        @apply text-[28px] font-semibold leading-[34px];
    }
    .headline-3 {
        @apply text-[24px] font-semibold leading-[30px];
    }
    .title-1 {
        @apply text-[22px] font-semibold leading-[31px];
    }
    .title-2 {
        @apply text-[18px] font-semibold leading-[26px];
    }
    .title-3 {
        @apply text-[16px] font-semibold leading-[24px];
    }
    .title-4 {
        @apply text-[14px] font-semibold leading-[19px];
    }
    .button-1 {
        @apply text-[20px] font-semibold leading-[24px];
    }
    .button-2 {
        @apply text-[16px] font-semibold leading-[19px];
    }
    .body-1 {
        @apply text-[20px] leading-[30px];
    }
    .body-2 {
        @apply text-[16px] leading-[140%];
    }
    .body-3 {
        @apply text-[12px] leading-[18px];
    }
    .label-1 {
        @apply text-[34px] font-medium leading-[120%];
    }
    .label-2 {
        @apply text-[14px] font-medium leading-[19.6px];
    }
    .label-3 {
        @apply text-[12px] font-medium leading-[19.6px];
    }
}
