@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "components/variables";
@import "components/breadcrumb";
@import "components/brand";
@import "components/button";
@import "components/content";
@import "components/embed";
@import "components/spinner.scss";
@import "components/type";

@layer base {
    :root {
        --primary: theme("colors.primary.DEFAULT");
        --primary-light: theme("colors.primary.DEFAULT");
        --primary-dark: theme("colors.primary.dark");
        --primary-darker: theme("colors.primary.darker");
    }

    @font-face {
        font-family: "Cubano";
        font-weight: 400;
        font-style: normal;
        font-display: swap;
        src: url("@/assets/fonts/Cubano-Regular.otf");
    }

    @font-face {
        font-family: "Rubik";
        font-weight: 400;
        font-style: normal;
        font-display: swap;
        src: url("@/assets/fonts/Rubik-Regular.ttf");
    }

    @font-face {
        font-family: "Rubik";
        font-weight: 500;
        font-style: normal;
        font-display: swap;
        src: url("@/assets/fonts/Rubik-Medium.ttf");
    }    

    @font-face {
        font-family: "Rubik";
        font-weight: 600;
        font-style: normal;
        font-display: swap;
        src: url("@/assets/fonts/Rubik-SemiBold.ttf");
    }    

    @font-face {
        font-family: "Rubik";
        font-weight: 700;
        font-style: normal;
        font-display: swap;
        src: url("@/assets/fonts/Rubik-Bold.ttf");
    }

    body {
        @apply cursor-default overflow-x-hidden;
        -webkit-overflow-scrolling: touch;
    }

    svg,
    img {
        @apply max-w-full max-h-full;
    }

    textarea {
        @apply resize-none;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }
}

.h-screen-custom {
    height: calc(calc(var(--vh, 1vh) * 100));
}

.hide-scrollbar {
    &::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
}

body.active-zoom {
    .jam-slider__container {
        overflow: hidden !important;
    }
}

.check-control {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    @apply relative;

    .checkmark {
        @apply absolute top-1/2 left-0 overflow-hidden transform -translate-y-1/2 w-[18px] h-[18px] border-gray-400 border rounded-sm;

        &:before {
            content: "";
            @apply block absolute w-full h-full inset-0 z-10 bg-no-repeat bg-center;
            background-image: url("/assets/images/icons/tick.png");
            background-size: contain;
        }
    }

    .label-check {
        @apply text-gray-600 cursor-pointer block w-full pl-[26px] relative z-10;
    }

    &:hover {
        .label-check {
            @apply font-medium;
        }

        .checkmark {
            @apply border-primary-600;
        }
    }

    input {
        @apply absolute opacity-0 top-0 left-0;

        &:checked {
            ~.label-check {
                @apply font-medium;
            }

            ~.checkmark {
                @apply bg-primary-600 border-primary-600;

                &:before {
                    @apply opacity-100;
                }
            }
        }
    }
}

.translate-z-0 {
    transform: translateZ(0px);
}

.product-cart {
    .quantity-order {

        .btn-minus,
        .btn-plus {
            width: 32px !important;
        }
    }
}

button:focus-visible {
    outline: none;
}